language: python
python:
  - "2.7"
services:
  - mongodb # will start mongodb
  - rabbitmq # will start rabbitmq-server
install:
  - pip install pep8
  - pip install coveralls
  - pip install https://github.com/dcramer/pyflakes/tarball/master
  - pip install -r requirements.txt --use-mirrors
#before_script:
#  - "pep8 --exclude=migrations --ignore=E501,E225,E261,W191,E101,E124 ."
#  - pyflakes -x W .
script:
  - coverage run --source=exchange,event_sourcing --omit='*migrations*' manage.py test exchange event_sourcing
after_success:
  - coverage report -m
  - coveralls

