Django==1.6.2
South==0.8.4
amqp==1.4.4
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.16
celery==3.1.9
coverage==3.7.1
django-celery==3.1.9
django-coverage==1.2.4
kombu==3.0.14
pymongo==2.6.3
-e git+http://github.com/poswald/python-money.git@5042803f6809898d56889864ac2b5ab91ee4632e#egg=python_money-dev
pytz==2014.1
wsgiref==0.1.2
